* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* nav section */
.header {
    /* width: 1600px; */
    background: #FFF8F3;
    height: 837px;
    background-image: url('/images/header_bg.png'), url('/images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom, left;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 230px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}

nav li {
    font-weight: 400;
    font-size: 20px;
    color: #474747;
}

.btn-orange {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px 35px;
    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-r {
    color: #FD6E0A;
}

/* banner section  */
.banner {
    margin-left: 230px;
}

.banner-item {
    display: flex;
    align-items: center;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}

.items {
    margin-left: 60px;
    margin-right: 173px;
}

.image-item {
    margin-top: 47px;
}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.download {
    padding: 19px 20px;
    width: 200px;
    Font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    background: #FD6E0A;
    border-radius: 5px;
}

.contact {
    padding-left: 58px;
    padding-right: 23px;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 160px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    margin-left: 30px;
}

/* about-me */

.first-section {
    background: #FFF8F3;
    border-radius: 10px;
    width: 1140px;
    height: 550px;
    margin-top: 116px;
    margin-left: 256px;
    margin-bottom: 144px;
}

.about-me {
    text-align: center;
    padding-top: 184px;
    padding-bottom: 78px;
    padding-right: 143px;
    padding-left: 170px;
    margin-bottom: 30px;

}

.about-me-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}

.about-me-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;

}

.banner-info {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 78px;
}

.info-title {
    font-weight: 400;
    font-size: 20px;
    color: #757575;
    text-align: center;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do */
.what-i-do {

    margin-top: 144px;
    margin: 0 345px
}

.what-i-do-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
    text-align: center;
}

.what-i-do-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 50px;
    text-align: center;
}

.skill-container {
    display: flex;
    gap: 25px;
}

.skill {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;

}

.skill-image {
    margin-bottom: 30px;

}

.skill-title {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 20px;
}

.skill-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/* resume section */
.resume {

    margin: 0 345px
}

.resume-title {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-top: 160px;
    margin-bottom: 113px;
}

.education-experience {
    display: flex;
    justify-content: space-between;
    gap: 80px;

}

.education-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.education-subtitle {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.institution {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.education-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;
}

.download-cv-1 {
    height: 64px;
    padding: 20px 35px;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    background: #FD6E0A;
    border-radius: 5px;
    margin-top: 50px;
      
}
.btn-download-1{
    text-align: center; 
}

.conclusion{
    display: flex;
    gap: 117px;
    background: #FFF8F3;
    /* width: 1600px;
    height: 780px;  */
    padding: 130px 200px;
    height: 780px;
   /* ' width: 1600px */
}
.conclusion-title{
    font-weight: 700;
font-size: 35px;
color: #181818;
margin-bottom: 20px;
}
.conclusion-description{
    font-weight: 400;
font-size: 16px;
color: #474747;
margin-bottom: 30px;
}
.icon{
    gap: 25px;
    text-decoration: none;
}

.info{
    
background: #FFFFFF;
border-radius: 5px;
height: 64px;
width: 100%;
display: block;
margin-bottom: 24px;
border: 0;
padding: 18px 30px;
}
.info-area{
    background: #FFFFFF;
border-radius: 5px;
width: 461px;
height: 180px;
border: 0;
}
.btn-submit{
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px 35px;
    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
}

